rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    match /questionVideos/{questionId}/{fileName} {
      allow read: if true;
      allow write: if questionId.matches('q(0|[1-9]|1[0-2])')
        && request.resource != null
        && request.resource.size <= 524288000
        && request.resource.contentType.matches('video/.*');
    }
  }
}
